@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - LeaveManagement.Web</title>
    <link rel="shortcut icon" type="image/png" href="~/images/vacation.png" />
    <link rel="stylesheet" href="~/css/styles.min.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LeaveManagement.Web.styles.css" asp-append-version="true" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-header-position="fixed">

        <!--  App Topstrip -->
        @* <div class="app-topstrip bg-dark py-6 px-3 w-100 d-lg-flex align-items-center justify-content-between"> *@
        @*     <div class="d-flex align-items-center justify-content-center gap-5 mb-2 mb-lg-0"> *@
        @*         <a class="d-flex justify-content-center" href="https://www.wrappixel.com/" target="_blank"> *@
        @*             <img src="../assets/images/logos/logo-wrappixel.svg" alt="" width="150"> *@
        @*         </a> *@

        @*         <div class="d-none d-xl-flex align-items-center gap-3"> *@
        @*             <a href="https://support.wrappixel.com/" *@
        @*             class="btn btn-outline-primary d-flex align-items-center gap-1 border-0 text-white px-6"> *@
        @*                 <i class="ti ti-lifebuoy fs-5"></i> *@
        @*                 Support *@
        @*             </a> *@
        @*             <a href="https://www.wrappixel.com/" *@
        @*             class="btn btn-outline-primary d-flex align-items-center gap-1 border-0 text-white px-6"> *@
        @*                 <i class="ti ti-gift fs-5"></i> *@
        @*                 Templates *@
        @*             </a> *@
        @*             <a href="https://www.wrappixel.com/hire-us/" *@
        @*             class="btn btn-outline-primary d-flex align-items-center gap-1 border-0 text-white px-6"> *@
        @*                 <i class="ti ti-briefcase fs-5"></i> *@
        @*                 Hire Us *@
        @*             </a> *@
        @*         </div> *@
        @*     </div> *@

        @*     <div class="d-lg-flex align-items-center gap-2"> *@
        @*         <h3 class="text-white mb-2 mb-lg-0 fs-5 text-center">Check Spike Premium Version</h3> *@
        @*         <div class="d-flex align-items-center justify-content-center gap-2"> *@
        @*             <div class="dropdown d-flex"> *@
        @*                 <a class="btn btn-outline-primary d-flex align-items-center gap-1 " href="javascript:void(0)" id="drop3" *@
        @*                 data-bs-toggle="dropdown" aria-expanded="false"> *@
        @*                     <i class="ti ti-device-laptop fs-5"></i> *@
        @*                     Live Preview *@
        @*                     <i class="ti ti-chevron-down fs-5"></i> *@
        @*                 </a> *@
        @*                 <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop3"> *@
        @*                     <div class="message-body"> *@
        @*                         <a target="_blank" href="https://www.wrappixel.com/templates/spike-bootstrap-admin-dashboard/?ref=376" *@
        @*                         class="dropdown-item d-flex align-items-center gap-1"> *@
        @*                             <i class="ti ti-external-link fs-5"></i> *@
        @*                             Bootstrap Preview *@
        @*                         </a> *@
        @*                         <a target="_blank" href="https://www.wrappixel.com/templates/spike-angular-admin-template/?ref=376" *@
        @*                         class="dropdown-item d-flex align-items-center gap-1"> *@
        @*                             <i class="ti ti-external-link fs-5"></i> *@
        @*                             Angular Preview *@
        @*                         </a> *@
        @*                         <a target="_blank" href="https://www.wrappixel.com/templates/spike-vuejs-admin-dashboard/?ref=376" *@
        @*                         class="dropdown-item d-flex align-items-center gap-1"> *@
        @*                             <i class="ti ti-external-link fs-5"></i> *@
        @*                             VueJs Preview *@
        @*                         </a> *@
        @*                         <a target="_blank" href="https://www.wrappixel.com/templates/spike-nextjs-admin-template/?ref=376" *@
        @*                         class="dropdown-item d-flex align-items-center gap-1"> *@
        @*                             <i class="ti ti-external-link fs-5"></i> *@
        @*                             NextJs Preview *@
        @*                         </a> *@
        @*                         <a target="_blank" href="https://www.wrappixel.com/templates/spike-nextjs-admin-template/?ref=376" *@
        @*                         class="dropdown-item d-flex align-items-center gap-1"> *@
        @*                             <i class="ti ti-external-link fs-5"></i> *@
        @*                             Tailwind Preview *@
        @*                         </a> *@
        @*                     </div> *@
        @*                 </div> *@
        @*             </div> *@
        @*             <div class="dropdown d-flex"> *@
        @*                 <a class="btn btn-primary d-flex align-items-center gap-1 " href="javascript:void(0)" id="drop4" *@
        @*                 data-bs-toggle="dropdown" aria-expanded="false"> *@
        @*                     <i class="ti ti-shopping-cart fs-5"></i> *@
        @*                     Buy Now *@
        @*                     <i class="ti ti-chevron-down fs-5"></i> *@
        @*                 </a> *@
        @*                 <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop4"> *@
        @*                     <div class="message-body"> *@
        @*                         <a target="_blank" href="https://www.wrappixel.com/templates/spike-bootstrap-admin-dashboard/?ref=376" *@
        @*                         class="dropdown-item d-flex align-items-center gap-1"> *@
        @*                             <i class="ti ti-external-link fs-5"></i> *@
        @*                             Bootstrap Preview *@
        @*                         </a> *@
        @*                         <a target="_blank" href="https://www.wrappixel.com/templates/spike-angular-admin-template/?ref=376" *@
        @*                         class="dropdown-item d-flex align-items-center gap-1"> *@
        @*                             <i class="ti ti-external-link fs-5"></i> *@
        @*                             Angular Preview *@
        @*                         </a> *@
        @*                         <a target="_blank" href="https://www.wrappixel.com/templates/spike-vuejs-admin-dashboard/?ref=376" *@
        @*                         class="dropdown-item d-flex align-items-center gap-1"> *@
        @*                             <i class="ti ti-external-link fs-5"></i> *@
        @*                             VueJs Preview *@
        @*                         </a> *@
        @*                         <a target="_blank" href="https://www.wrappixel.com/templates/spike-nextjs-admin-template/?ref=376" *@
        @*                         class="dropdown-item d-flex align-items-center gap-1"> *@
        @*                             <i class="ti ti-external-link fs-5"></i> *@
        @*                             NextJs Preview *@
        @*                         </a> *@
        @*                         <a target="_blank" href="https://www.wrappixel.com/templates/spike-nextjs-admin-template/?ref=376" *@
        @*                         class="dropdown-item d-flex align-items-center gap-1"> *@
        @*                             <i class="ti ti-external-link fs-5"></i> *@
        @*                             Tailwind Preview *@
        @*                         </a> *@
        @*                     </div> *@
        @*                 </div> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@

        @* </div> *@

        <!-- Sidebar Start -->
        <aside class="left-sidebar rounded-0">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="#" class="text-nowrap logo-img">
                        <img src="~/images/clipboard.png" alt="" width="180px"/>
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                            <span class="hide-menu">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" asp-controller="Home" asp-action="Index" aria-expanded="false">
                                <iconify-icon icon="solar:atom-line-duotone"></iconify-icon>
                                <span class="hide-menu">Home</span>
                            </a>
                        </li> 
                        <li class="sidebar-item">
                            <a class="sidebar-link primary-hover-bg" asp-controller="Home" asp-action="Privacy" aria-expanded="false">
                                <iconify-icon icon="solar:lock-password-bold"></iconify-icon>
                                <span class="hide-menu">Privacy</span>
                            </a>
                        </li>
                        <!-- ---------------------------------- -->
                        <!-- Dashboard -->
                        <!-- ---------------------------------- -->
                        <li>
                            <span class="sidebar-divider lg"></span>
                        </li>
                        @if (User.IsInRole(Roles.Administrator))
                        {
                            <li class="nav-small-cap">
                                <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                                <span class="hide-menu">Management</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link primary-hover-bg" asp-controller="LeaveTypes" asp-action="Index" aria-expanded="false">
                                    <iconify-icon icon="solar:layers-minimalistic-bold-duotone"></iconify-icon>
                                    <span class="hide-menu">Leave Types</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link primary-hover-bg" asp-controller="Periods" asp-action="Index" aria-expanded="false">
                                    <iconify-icon icon="solar:danger-circle-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Periods</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link primary-hover-bg" asp-controller="LeaveAllocation" asp-action="Index" aria-expanded="false">
                                    <iconify-icon icon="solar:bookmark-square-minimalistic-line-duotone"></iconify-icon>
                                    <span class="hide-menu">View Employees</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link primary-hover-bg" asp-controller="LeaveRequests" asp-action="ListRequests" aria-expanded="false">
                                    <iconify-icon icon="solar:file-text-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Manage Requests</span>
                                </a>
                            </li>
                        }
                        @if(User.Identity.IsAuthenticated){
                            <li class="sidebar-item">
                                <a class="sidebar-link primary-hover-bg" asp-controller="LeaveAllocation" asp-action="Details" aria-expanded="false">
                                    <iconify-icon icon="solar:file-text-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Leave Allocations</span>
                                </a>
                            </li>
                        }
                  
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-small-cap">
                                <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                                <span class="hide-menu">Auth</span>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link primary-hover-bg" asp-area="Identity" asp-page="/Account/Login" aria-expanded="false">
                                    <iconify-icon icon="solar:login-3-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Login</span>
                                </a>
                            </li>
                            @* <li class="sidebar-item"> *@
                            @*   <a class="sidebar-link primary-hover-bg justify-content-between" target="_blank" *@
                            @*     href="https://bootstrapdemos.wrappixel.com/spike/dist/main/authentication-login.html" *@
                            @*     aria-expanded="false"> *@
                            @*     <div class="d-flex align-items-center gap-6"> *@
                            @*       <span class="d-flex"> *@
                            @*         <iconify-icon icon="solar:login-3-line-duotone" class=""></iconify-icon> *@
                            @*       </span> *@
                            @*       <span class="hide-menu">Side Login</span> *@
                            @*     </div> *@
                            @* <span class="hide-menu badge text-bg-primary fs-1 py-1 px-2 rounded-pill">Pro</span> *@
                            @*   </a> *@
                            @* </li> *@

                            <li class="sidebar-item">
                                <a class="sidebar-link primary-hover-bg" asp-area="Identity" asp-page="/Account/Register" aria-expanded="false">
                                    <iconify-icon icon="solar:user-plus-rounded-line-duotone"></iconify-icon>
                                    <span class="hide-menu">Register</span>
                                </a>
                            </li>
                        }


                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End --> 
        <!--  Main wrapper -->
        <div class="body-wrapper">

            <div class="body-wrapper-inner">
                <div class="container-fluid pt-0">
                    <!--  Header Start -->
                    <header class="app-header bg-transparent">
                        <nav class="navbar navbar-expand-lg">
                            <ul class="navbar-nav">
                                <li class="nav-item d-block d-xl-none">
                                    <a class="nav-link sidebartoggler " id="headerCollapse" href="javascript:void(0)">
                                        <i class="ti ti-menu-2"></i>
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="javascript:void(0)" id="drop1" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                        <iconify-icon icon="solar:bell-linear" class="fs-6"></iconify-icon>
                                        <div class="notification bg-primary rounded-circle"></div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-animate-up" aria-labelledby="drop1">
                                        <div class="message-body">
                                            <a href="javascript:void(0)" class="dropdown-item">
                                                Item 1
                                            </a>
                                            <a href="javascript:void(0)" class="dropdown-item">
                                                Item 2
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                                    <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                        <img src="~/images/user.svg" alt="" width="35" height="35"
                                        class="rounded-circle me-1">
                                                Hello @User.Identity?.Name!
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                        <div class="message-body">
                                                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="d-flex align-items-center gap-2 dropdown-item">
                                                <i class="ti ti-user fs-6"></i>
                                                <p class="mb-0 fs-3">My Profile</p>
                                            </a>
                                            @* <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item"> *@
                                            @*     <i class="ti ti-mail fs-6"></i> *@
                                            @*     <p class="mb-0 fs-3">My Account</p> *@
                                            @* </a> *@
                                            @* <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item"> *@
                                            @*     <i class="ti ti-list-check fs-6"></i> *@
                                            @*     <p class="mb-0 fs-3">My Task</p> *@
                                            @* </a> *@
                                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                        <button type="submit" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</button>
                                                    </form>
                                            @* <a href="./authentication-login.html" *@
                                            @* class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a> *@
                                        </div>
                                    </div>
                                </li>
                                </ul>
                                </div>
                            }
                        </nav>
          </header>
          <!--  Header End -->
          <div class="card">
            <div class="card-body">
                            @RenderBody()
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/sweetalert/sweetalert.min.js"></script>
  <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/sidebarmenu.js"></script>
  <script src="~/js/app.min.js"></script>
  <script src="~/lib/simplebar/dist/simplebar.js"></script>
  <!-- solar icons -->
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
